0 6 * * * cd ${WORKSPACE_DIR}/.app/ && ./make-daily-note.sh
0 */4 * * * cd ${PERSONAL_CLOUD_DIR}/jupiter/trello-to-markdown && node index.js && curl -fsS -m 30 --retry 5 -o /dev/null https://${HEALTHCHECKS_URL}/trello-to-markdown
